html,
body,
* {
    box-sizing: border-box;
}

.main-content {
    padding: 1rem;
    width: 60vw;
    max-width: 960px;
    margin: 0 30vw 0 10vw;
}

.page-header {
    text-align: center;
    margin-bottom: 2rem;
}

.sidebar {
    width: 20vw;
    background-color: #f4f4f4;
    padding: 1rem;
    margin: 1rem 8vw 1rem 2vw;
    margin-top: 1rem;
    margin-left: 8vw;
    margin-right: clamp(2vw, 5%, 8vw);
    float: right;
}