html,
body,
* {
    box-sizing: border-box;
}

/* Set nav to sticky or fixed */

/* Add a black background color to the top navigation */
.topnav {
    /* display: block;
    width: 100%; */
    background-color: #333;
    overflow: hidden;
    padding-bottom: .5rem;
    position: fixed;
    margin: auto;
    text-align: center;
    top: 0;
    z-index: 2;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #04aa6d;
    color: white;
}


/* .main-nav-old {
    display: block;
    width: 100%;
    background-color: #072AC8;
    color: #9FAFF9;
    overflow: hidden;
    padding-bottom: .5rem;
    position: fixed;
    margin: auto;
    text-align: center;
    top: 0;
    z-index: 2;
} */

.main-nav {
    display: flex;
    background-color: #072AC8;
    color: #9FAFF9;
    width: 100%;
    position: fixed;
    top: 0;
    margin: 0;
    text-align: center;
    z-index: 2;
    padding-bottom: .5rem;
}

.main-nav a {
    text-decoration: none;
    margin-right: 1em;
    padding: 10px;
    color: #f2f2f2;
}


.sign-in {
    margin-left: auto;
}


/* Style the links inside the navigation bar */
/* .main-nav a {
    float: center;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
 */

/* Change the color of links on hover */
.main-nav a:hover {
    background-color: #f2f2f2;
    color: #072AC8;
}

/* Add a color to the active/current link */
.main-nav a.active {
    background-color: #04aa6d;
    color: white;
}


.logo {
    position: absolute;
    top: .5rem;
    right: 6vw;
    width: clamp(60px, 10vw, 135px);
    height: auto;
    z-index: 3;
}

header {
    position: relative;
    z-index: 0;
    margin-top: 2.5rem;
    padding: 2rem 0 1rem 0;
    /* Prevent overlap with fixed nav */
}

footer {
    position: relative;
    /* position: fixed; */
    z-index: 0;
    margin-top: 5rem;
    /*   padding: 1rem 0;
    margin-top: 1rem; */
    bottom: 0;
    /* Anchor it to the bottom */
    left: 0;
    /* Anchor it to the left */
    width: 100%;
    /* Make it span the full width of the viewport */
    padding: 10px 0;
}

nav {
    /* background-color: lightgray; */
    padding-bottom: .5rem;
    /* padding: 12px; */
}

main {

    margin: auto;
    padding: 1rem;
    max-width: 1200px;
}

section {
    margin-bottom: 2rem;
}

aside {
    position: sticky;
    top: 50px;
    /* Sticks to the top of the viewport */
    z-index: 0;
    float: right;
    margin: auto;
    width: 15%;
    min-width: 8rem;
    /* Minimum width for the aside */
    padding: 1rem;
}


.main-content {
    padding: 1rem;
    width: 60vw;
    max-width: 960px;
    margin: 0 30vw 0 10vw;
}

.main-contact {
    padding: 1rem;
    width: 60vw;
    max-width: 960px;
    margin: 0 20vw 0 20vw;
}

.page-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-bottom: 2rem;
    /* margin: 3.5rem 0; */
    z-index: 1;
}

.sidebar {
    width: 20vw;
    background-color: #E6E8E6;
    /* #f4f4f4; */
    padding: 1rem;
    margin: 1rem 8vw 1rem 2vw;
    margin-top: 1rem;
    margin-left: 8vw;
    margin-right: clamp(2vw, 5%, 8vw);
    float: right;
    position: sticky;
    top: 3rem;
}

/* img {
    width: clamp(150px, 75%, 600px);
} */

.scroll-stop {
    scroll-margin-top: 3rem;
}

.figure-right {
    max-width: 55%;
    height: auto;
    float: right;
    padding: 0 0 0 2rem;
}

.figure-left {
    max-width: 55%;
    height: auto;
    float: left;
    padding: 2rem 2rem 2rem 0;
}

.clearfix::after {
    display: block;
    clear: both;
    content: "";
}

.bordered-box {
    /* border: 1px solid #072AC8; */
    border: 1px solid #ccc;
    padding: 1rem;
    margin: 1rem 0;
}

.button-container button {
    display: inline-block;
    margin-right: 10px;
    /* Add space between buttons */
}

form {
    max-width: 65%;
    margin: 0 auto;
}

.flex-header {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin: 0 auto;
    /* margin-top: 2rem */
}

.flex-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1rem;
    margin-top: 2rem
}

.item-order-1 {
    order: 1;
    flex-grow: 0;
    flex-shrink: 0;
    /* flex-basis: 35vw;  clamp(600px, 50%, 700px); */
    flex-basis: 35vw;
}

.item-order-2 {
    order: 2;
    flex: 0 0 auto;
}

.item-order-3 {
    order: 3;
    flex: 0 0 auto;
}

.footer-header {
    color: #f08a06;
}

.footer-content-left {
    text-align: left;
}

.site-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.logo img {
    max-width: 100%;
    height: auto;
}

.site-header .logo img {
    max-width: 100%;
    /* Ensures logo doesn't overflow its container */
    height: auto;
    /* Maintains aspect ratio */
    /* Or for a fixed height with preserved aspect ratio: */
    /* height: 60px; */
    /* width: auto; */

    position: absolute;
    top: .125rem;
    right: 6vw;
    /* width: clamp(45px, 10vw, 75px); */
    /* width: clamp(3rem, 5vw + 1rem, 10rem);
    height: auto; */
    z-index: 3;
}