.products-grid {
    /* six col 3 rows */
    display: grid;
    max-width: fit-content;
    margin: auto;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
    padding: 20px;
    background-color: #f4f4f4;
}

.feature-product-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    height: auto;
    margin: 100%;
}

.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* align-self: start; */
    justify-content: center;

    justify-self: center;
    /* center horizontally */
    align-self: end;
    /* align bottom of cell */

    text-align: center;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 20vw;
    height: auto;
}

.full-width {
    width: 100%;
    /* Makes the container stretch across the full width of the screen */
}

.product-card-featured {
    display: flex;
    flex-direction: column;
    /* Stack elements vertically */
    justify-content: space-between;
    /* Space between image/text and the button */
    height: 100%;
    /* Ensures the card takes up full height available */
    padding: 20px;
    /* Increase padding for better spacing */
}

.content-wrapper {
    display: flex;
    /* Enables flexbox layout */
    align-items: center;
    /* Vertically aligns items to the center */
    justify-content: start;
    /* Aligns items at the start of the container */
    width: 100%;
    /* Makes the featured product section stretch across */
    flex-grow: 1;
    /* This allows the content to take up available space */
}

.feature-product-image {
    /* margin-right: 20px; */
    /* Adds some space between the image and the paragraph */
    /* width: clamp(150px, 50vw, 300px); */
    /* Optional: set a max width for the image */
    /* height: auto; */
    /* Ensures the image maintains aspect ratio */

    width: clamp(150px, 50vw, 300px);
    height: auto;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 0 8px;
}

.centered-button {
    width: 80%;
    /* Makes the button 80% of the card's width */
    margin-left: auto;
    /* Centers the button horizontally */
    margin-right: auto;
    /* Centers the button horizontally */
    padding: 10px;
    /* Adds some padding to the button */
}


.product-card-second-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* align-self: start; */
    justify-content: center;

    justify-self: center;
    /* center horizontally */
    align-self: end;
    /* align bottom of cell */

    text-align: center;
    padding: 15px;
    margin: auto;
    width: 20vw;
    height: auto;
}

.product-card-third-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* align-self: start; */
    justify-content: center;

    justify-self: center;
    /* center horizontally */
    align-self: end;
    /* align bottom of cell */

    text-align: center;
    padding: 15px;
    margin: auto;
    width: 20vw;
    height: auto;
}


.feature-product {
    grid-column: 2 / -2;
    /* spans 4 columns */
    grid-row: 1 / 2;
}

.second-row-product {
    grid-column: span 3;
    /* spans 3 columns */
    grid-row: 2 / 3;
}

.third-row-product {
    grid-column: span 2;
    /* spans 2 columns */
    grid-row: 3 / 4;
}

.feature-product-image {
    /* width: auto; */
    /* height: 200px; */
    width: clamp(150px, 50vw, 300px);
    height: auto;
    border-radius: 4px;
    /* margin-bottom: 10px; */
    padding: 0 8px;
    margin-left: auto;
    /* Centers image horizontally */
    margin-right: auto;
    /* Centers image horizontally */
}

.product-image {
    /* width: auto; */
    /* height: 200px; */
    width: clamp(75px, 25vw, 150px);
    height: auto;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 0 8px;
}

.product-image-center {
    /* width: auto; */
    /* height: 200px; */
    width: auto;
    height: auto;
    border-radius: 4px;
    margin: auto;
    padding: 0 8px;
}

/* .product-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
} */

.product-flex {
    display: flex;
    flex-direction: column;
    /* Stack the content vertically */
    align-items: center;
    /* Center align horizontally */
    justify-content: space-between;
    /* Evenly distribute items */
}


.product-button {
    background-color: #18508D;
    color: white;
    text-decoration: none;
    /* margin-top: 1rem; */
    margin: auto;
    width: auto;
    display: inline-block;

    font-size: 1.2rem;

    padding: 0.5rem 1rem;

    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.product-button:link,
.product-button:visited {
    color: white;
}

.product-button:hover {
    background-color: white;
    color: #18508D;
    border: 1px solid #18508D;
}