.products-grid {
    /* six col 3 rows */
    display: grid;
    max-width: fit-content;
    margin: auto;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
    padding: 20px;
    background-color: #f4f4f4;
}

.feature-product-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: start;
    justify-content: center;
    justify-self: center;
    text-align: center;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 20vw;
    height: auto;
}

.feature-product {
    grid-column: 2 / -2;
    /* spans 4 columns */
    grid-row: 1 / 2;
}

.second-row-product {
    grid-column: span 3;
    /* spans 3 columns */
    grid-row: 2 / 3;
}

.third-row-product {
    grid-column: span 2;
    /* spans 2 columns */
    grid-row: 3 / 4;
}

.product-image {
    width: auto;
    height: 200px;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 0 8px;
}

.product-button {
    background-color: #18508D;
    color: white;
    text-decoration: none;
    /* margin-top: 1rem; */
    margin: auto;
    width: auto;
    display: inline-block;

    font-size: 1.2rem;

    padding: 0.5rem 1rem;

    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.product-button:link,
.product-button:visited {
    color: white;
}

.product-button:hover {
    background-color: white;
    color: #18508D;
    border: 1px solid #18508D;
}